<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Content ... -->
<div class="container modal-imagomundi">

    <div class="tabs is-boxed" style="margin-bottom: 0em;">
        <ul>
            <li class="tab is-active" id="li_content">
                <a id="link_tab_content" class="link_tab">
                    <span class="icon is-small"><i class="icon fa fa-file" aria-hidden="true"></i></span>
                    <span>Overview</span>
                </a>
            </li>
            <li class="tab" id="li_details">
                <a id="link_tab_details" class="link_tab">
                    <span class="icon is-small"><i class="icon fa fa-search" aria-hidden="true"></i></span>
                    <span>Details</span>
                </a>
            </li>
            <li class="tab" id="li_location">
                <a id="link_tab_location" class="link_tab">
                    <span class="icon is-small"><i class="icon fa fa-map-marker" aria-hidden="true"></i></span>
                    <span>Historical locations</span>
                </a>
            </li>
            <li class="tab" id="li_images">
                <a id="link_tab_images" class="link_tab">
                    <span class="icon is-small"><i class="icon fa fa-leanpub" aria-hidden="true"></i></span>
                    <span>Images</span>
                </a>
            </li>

            <span
                style="font-size: 1em; font-weight: bold; margin-left: auto; margin-right: 1%; ">{{detailsmodel.title}}</span>
        </ul>

    </div>



    <div id="tab_content" class="content-tab">
        <table class="table is-bordered is-fullwidth">

            {{#detailsmodel}}

            <tr>
                <td colspan='2' class="cell_title" style="width:70%;">
                    Title:
                </td>

            </tr>
            <tr>
                <td colspan='2' class="cell_content">{{title}} </td>

            </tr>

            <tr>
                <td colspan='2' class="cell_title">
                    Shelfmark:
                </td>
            </tr>
            <tr>
                <td colspan='2' class="cell_content">{{shelfmark}}</td>
            </tr>

            <tr>
                <td colspan='2' class="cell_title">
                    Language:
                </td>
            </tr>
            <tr>
                <td colspan='2' class="cell_content">{{language}}</td>
            </tr>

            <tr>
                <td colspan='2' class="cell_title">
                    Text type:
                </td>
            </tr>
            <tr>
                <td colspan='2' class="cell_content">{{text_type}}</td>
            </tr>

            <tr>
                <td colspan='2' class="cell_title">
                    Folia:
                </td>
            </tr>
            <tr>
                <td colspan='2' class="cell_content">{{folia}}</td>
            </tr>

            <tr>
                <td colspan='2' class="cell_title">
                    Historical Locations:
                </td>
            </tr>

            <tr>
                <td style="width:15%;">owner and location 1000-1100</td>
                <td>{{owner_and_location_1000_1100}}</td>
            </tr>
            <tr>
                <td>owner and location 1100-1200</td>
                <td>{{owner_and_location_1100_1200}}</td>
            </tr>
            <tr>
                <td>owner and location 1200-1300</td>
                <td>{{owner_and_location_1200_1300}}</td>
            </tr>
            <tr>
                <td>owner and location 1300-1400</td>
                <td>{{owner_and_location_1300_1400}}</td>
            </tr>
            <tr>
                <td>owner and location 1400-1500</td>
                <td>{{owner_and_location_1400_1500}}</td>
            </tr>
            <tr>
                <td>owner and location 1500-1600</td>
                <td>{{owner_and_location_1500_1600}}</td>
            </tr>
            <tr>
                <td>owner and location 1600-1700</td>
                <td>{{owner_and_location_1600_1700}}</td>
            </tr>
            <tr>
                <td>owner and location 1700-1800</td>
                <td>{{owner_and_location_1700_1800}}</td>
            </tr>
            <tr>
                <td>owner and location 1800-1900</td>
                <td>{{owner_and_location_1800_1900}}</td>
            </tr>
            <tr>
                <td>owner and location 1900-2000</td>
                <td>{{owner_and_location_1900_2000}}</td>
            </tr>

            {{/detailsmodel}}

            {{!-- Dit werkt, maar je hebt geen invloed op layout

            {{#each detailsmodel}}
            <tr>
                <td>{{@key}}</td>
                <td> {{this}}</td>
            </tr>
            {{/each}} --}}
        </table>
    </div>
    <div id="tab_details" class="content-tab" style="display:none">

        <table class="table is-bordered is-fullwidth">
            <thead>

            </thead>

            {{#detailsmodel}}

            <tr>
                <td style="width:25%;">date from</td>
                <td style="width:75%;">{{date_from}}</td>
            </tr>
            <tr>
                <td>date until</td>
                <td>{{date_until}}</td>
            </tr>
            <tr>
                <td>current location country</td>
                <td>{{current_location_country}}</td>
            </tr>
            <tr>
                <td>current location town</td>
                <td>{{current_location_town}}</td>
            </tr>
            <tr>
                <td>address current location</td>
                <td>{{address_current_location}}</td>
            </tr>
            <tr>
                <td>place of origin country</td>
                <td>{{place_of_origin_country}}</td>
            </tr>
            <tr>
                <td>place of origin town</td>
                <td>{{place_of_origin_town}}</td>
            </tr>


            <tr>
                <td>chapters</td>
                <td>{{chapters}}</td>
            </tr>
            <tr>
                <td>incipit</td>
                <td>{{incipit}}</td>
            </tr>
            <tr>
                <td>explicit</td>
                <td>{{explicit}}</td>
            </tr>
            <tr>
                <td>attributions of author</td>
                <td>{{attribution_of_author}}</td>
            </tr>
            <tr>
                <td>decorations</td>
                <td>{{decorations}}</td>
            </tr>

            <tr>
                <td>content:</td>
                <td> {{manuscript_content}}</td>
            </tr>
            <tr>
                <td>bibliography:</td>
                <td> {{bibliography}}</td>
            </tr>

            <tr>
                <td>notes:</td>
                <td> {{notes}}</td>
            </tr>
            {{/detailsmodel}}
        </table>

    </div>


    <div id="tab_location" class="content-tab" style="display:none">
        <div id='map_historical_addresses'></div>
        <div id='legend_historical_addresses'></div>
    </div>


    <div id="tab_images" class="content-tab" style="display:none">

        <table class="table is-bordered is-fullwidth ">
            <tr>
                <td style="padding-top: 30px; padding-bottom: 30px; font-size: 1.2em"><a href="{{detailsmodel.images}}"
                        target="_blank">{{detailsmodel.images}}</a>
                </td>
            </tr>

        </table>

    </div>





</div>