<!-- Content ... -->
<div class="container modal-imagomundi">

    <table class="table is-bordered is-fullwidth">
        <thead>
            <tr>
                <th style="width:40%;"><abbr title=" Content">Database of the Imago Mundi tradition details</abbr></th>

                <th style="width:20%;"><abbr title="Attribute"></abbr></th>

                <th style="width:40%;"><abbr title="Content"></abbr></th>

            </tr>
        </thead>

        {{#detailsmodel}}


        <tr>
            <td>Manuscript content</td>
            <td>title</td>
            <td>{{title}}</td>

        </tr>
        <tr>
            <td rowspan='10'>{{manuscript_content}}</td>
            <td>shelfmark</td>
            <td>{{shelfmark}}</td>
        </tr>

        <tr>
            <td>date from</td>
            <td>{{date_from}}</td>
        </tr>
        <tr>
            <td>date until</td>
            <td>{{date_until}}</td>
        </tr>
        <tr>
            <td>current location country</td>
            <td>{{current_location_country}}</td>
        </tr>
        <tr>
            <td>current location town</td>
            <td>{{current_location_town}}</td>
        </tr>

        <tr>
            <td>address current location</td>
            <td>{{address_current_location}}</td>
        </tr>

        <tr>
            <td>place of origin</td>
            <td>{{place_of_origin}}</td>
        </tr>

        <tr>
            <td>language</td>
            <td>{{language}}</td>

        </tr>
        <tr>
            <td>images</td>
            <td><a href="{{images}}" target="_blank">{{images}}</a></td>
        </tr>
        <tr>
            <td>text type</td>
            <td>{{text_type}}</td>
        </tr>
        <tr>
            <td>Bibliography</td>
            <td>folia</td>
            <td>{{folia}}</td>

        </tr>
        <tr>
            <td rowspan='10'>{{bibliography}}</td>
            <td>chapters</td>
            <td>{{chapters}}</td>

        </tr>
        <tr>
            <td>incipit</td>
            <td>{{incipit}}</td>
        </tr>
        <tr>
            <td>explicit</td>
            <td>{{explicit}}</td>
        </tr>
        <tr>
            <td>attributions of author</td>
            <td>{{attribution_of_author}}</td>
        </tr>
        <tr>
            <td>decorations</td>
            <td>{{decorations}}</td>
        </tr>

        <tr>
            <td>owner and location 1000-1100</td>
            <td>{{owner_and_location_1000_1100}}</td>
        </tr>
        <tr>
            <td>owner and location 1100-1200</td>
            <td>{{owner_and_location_1100_1200}}</td>
        </tr>
        <tr>
            <td>owner and location 1200-1300</td>
            <td>{{owner_and_location_1200_1300}}</td>
        </tr>
        <tr>
            <td>owner and location 1300-1400</td>
            <td>{{owner_and_location_1300_1400}}</td>
        </tr>
        <tr>
            <td>owner and location 1400-1500</td>
            <td>{{owner_and_location_1400_1500}}</td>
        </tr>
        <tr>
            <td>notes</td>
            <td>owner and location 1500-1600</td>
            <td>{{owner_and_location_1500_1600}}</td>

        </tr>
        <tr>
            <td rowspan='4'>{{notes}}</td>
            <td>owner and location 1600-1700</td>
            <td>{{owner_and_location_1600_1700}}</td>

        </tr>
        <tr>
            <td>owner and location 1700-1800</td>
            <td>{{owner_and_location_1700_1800}}</td>
        </tr>
        <tr>
            <td>owner and location 1800-1900</td>
            <td>{{owner_and_location_1800_1900}}</td>
        </tr>
        <tr>
            <td>owner and location 1900-2000</td>
            <td>{{owner_and_location_1900_2000}}</td>


        </tr>


        {{/detailsmodel}}


        {{!-- Dit werkt, maar je hebt geen invloed op layout

        {{#each detailsmodel}}
        <tr>
            <td>{{@key}}</td>
            <td> {{this}}</td>
        </tr>
        {{/each}} --}}

    </table>

</div>