<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="hero is-fullheight imagomundi_background ">

    <hgroup class="container imagomundi_searchscreen">


        <div class='titlebox has-text-centered' id='titlebox'>
            <h1>Images of the World</h1>
            <h2>Manuscripts Database of the Imago Mundi tradition</h2>
            <br><br>
        </div>

        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Search help</p>
                    <button class="button" id="close_button">X</button>
                </header>
                <section class="modal-card-body">
                    <p>
                        Type a search word. You can limit your search by typing words seperated by a whitespace or a
                        comma like: London, Harley.<br><br>
                    </p>
                    <p>
                        Filter your results with the selectboxes.<br><br>
                    </p>
                    <p>
                        For details, click the info in front of every search result.<br><br>
                    </p>


                </section>
                <footer class="modal-card-foot">

                </footer>
            </div>
        </div>



        <div class="columns is-centered">

            <form class="column is-narrow has-text-centered" id="search-form">

                <div class="field is-grouped imagomundi_search_combi">
                    <p class="control">
                        <button class="button is-primary" id="help_button">?</button>
                    </p>
                    <p class="control is-expanded">
                        <input class="input is-info" type="text" id="search" value=''>
                    </p>
                    <p class="control">
                        <button class="button is-info" id="search_button">Search</button>
                    </p>
                </div>

                <div class="field is-grouped">

                    <div class="select  is-info is-small">
                        <select name="language" id="language">
                            <option value="">Language</option>
                            {{#each languages_select}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="select is-info is-small">
                        <select name="place_of_origin_country" id="place_of_origin_country">
                            <option value="">Country of origin</option>
                            {{#each countries_of_origin_select}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>


                    <div class="select is-info is-small">
                        <select name="current_location_country" id="current_location_country">
                            <option value="">Current country</option>
                            {{#each countries_select}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>


                    <div class="select  is-info is-small">
                        <select name="date_from" id="date_from">
                            <option value="">date from</option>
                            <option value="1000">1000</option>
                            <option value="1100">1100</option>
                            <option value="1200">1200</option>
                            <option value="1300">1300</option>
                            <option value="1400">1400</option>
                            <option value="1500">1500</option>
                            <option value="1600">1600</option>
                            <option value="1700">1700</option>
                            <option value="1800">1800</option>
                            <option value="1900">1900</option>
                        </select>
                    </div>

                    <div class="select  is-info is-small">
                        <select name="date_until" id="date_until">
                            <option value="">date until</option>
                            <option value="1100">1100</option>
                            <option value="1200">1200</option>
                            <option value="1300">1300</option>
                            <option value="1400">1400</option>
                            <option value="1500">1500</option>
                            <option value="1600">1600</option>
                            <option value="1700">1700</option>
                            <option value="1800">1800</option>
                            <option value="1900">1900</option>
                            <option value="2000">2000</option>
                        </select>
                    </div>

                    <p class="control">
                        <button class="button is-info is-small" id="reset_button">reset</button>
                    </p>

                </div>

            </form>

        </div>


        <div id='map'></div>

        <div id="showdetails"></div>
        <table class="table is-bordered is-fullwidth" id="searchresult"></table>

    </hgroup>
</section>
</section>