{{#results}}
<tr>
    <td>{{title}}</td>
    <td>{{shelfmark}}</td>
    <td>{{current_location_country}}</td>
    <td>{{language}}</td>
    <td>{{date_from}}</td>
    <td>{{date_until}}</td>
    <td>
        <button type="button" class="details" id="{{id}}">details</button>
    </td>
</tr>
{{/results}}