{{#results}}
<tr>
    <td>{{shelfmark}}</td>
    <td>{{manuscript_content}}</td>
    <td>{{current_location_country}}</td>
    <td>{{language}}</td>
    <td>{{date_from}}</td>
    <td>{{date_until}}</td>
</tr>
{{/results}}