{{#results}}
<tr>
    <td>

        <a class="button is-small is-primary is-rounded details" id="{{id}}">i</a>

    </td>
    <td>{{title}}</td>
    <td>{{shelfmark}}</td>
    <td>{{current_location_country}}</td>
    <td>{{language}}</td>
    <td>{{date_from}}</td>
    <td>{{date_until}}</td>

</tr>
{{/results}}